body{
font-family: Arial;
background:#f4f6f9;
}

.container p {
  text-align: center;
}

.container{

width:400px;
margin:auto;
margin-top:60px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);

}

.navBar{

display:flex;
justify-content:space-between;
align-items:center;
background:#2c7be5;
padding:15px;
color:white;

}

.links a{

color:white;
margin-right:15px;
text-decoration:none;

}

.links button{

background:white;
color:#2c7be5;
border:none;
padding:5px 30px;
border-radius:5px;
cursor:pointer;

}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

button {
  width: 100%;
  padding: 10px;
  background: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

table{

width:100%;
margin-top:20px;
border-collapse:collapse;

}

th,td{

padding:10px;
border-bottom:1px solid #ddd;

}